*{
    margin: 0;
    padding: 0;
    
}

body {
    box-sizing: inherit;
    background-image: url(./Media/Sin\ título-5.png);
    background-size: cover;
    


}
header {
    background-image: url(./Media/Cancha-de-fútbol-11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    box-shadow: 0px 5px 15px 0px rgb(59, 59, 59);
    position: relative;
    box-shadow: 5px 4px 4px rgb(110, 108, 108);

}

.header__social {
  
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 5rem;
    right: 0;    
    

}

.header-container {
    top: 50%;
    left: 50%;
    float: left;
    }

.nav__bg {
    display: inline;
    flex-direction:row;
    justify-content: space-evenly;
    position: relative;
    top: 0;
    padding-top: 5rem;
    font-size: 1rem;
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
    padding: 1rem;
    transition: 1s;
    background-color: rgb(255, 255, 255);
    word-spacing: 2rem;
    float: right;
    
}

 .nav__bg--enlaces {
   
     text-decoration: none;
     text-transform: uppercase;
     text-align: center;
     color: #000;
     text-shadow: 1px 1px 3px rgb(14, 102, 98);
     
    
 }

 .main {
     display: grid;
     position: relative;
     grid-template-columns: repeat(2, 1fr);
     justify-content: center;
     column-gap: 1rem;
     margin: 4rem auto 0;
     max-width: 133rem, 

 }
 .main__equipo {
     margin: auto;
     max-width: fit-content;

 }
 
.main__parrafo {
    text-align: center;
    font-size: 1.7rem;
    color: white;
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgb(21, 124, 107);
    width: 350px;
    padding: 2rem;
    margin: 1.7rem auto;
    text-shadow: 2px 2px 3px black;
}

.main__imagen {
    box-shadow: 0px 8px 26px 1px rgb(110, 109, 109);
    opacity: 0.95;
    width:600px;
    height: auto;
    margin: auto;
}

.main__imagen2 {
    box-shadow: 0px 8px 26px 1px rgb(110, 109, 109);
    opacity: 0.95;
    width: 530px;
    height: auto;
    margin: auto;
    
}

hr {
    width: 80rem;
    margin: 10rem auto;
    height: 1px;
    background-color: #2e3036;

}
.nosotros__imagen {
    grid-column: 1/2;
    transform: translate(425px);
    width: 600px;

}
.nosotros__parrafo{
    margin-top: 2cm;
    text-align: center;
    font-family:sans-serif;
    font-size: 40px;
}

footer{
    background: rgb(9,121,88);
    background: linear-gradient(90deg, rgba(9,121,88,1) 0%, rgba(252,252,252,1) 57%, rgba(0,212,255,1) 100%);    
}
.buttons {
        min-width: 700px;
        display: flex;
        justify-content: space-around;
      }
      
      .buttons a {
        text-decoration: none;
        font-size: 28px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: #314652;
        color: #f1f1f1;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        transition: all .4s ease-in-out;
        margin-bottom: 2cm;
      }
      
      .buttons a:hover {
        transform: scale(1.2);
      }
      .titulofooter {
          font-size: 60px;
          margin-bottom: 1cm;
          text-align: center;
          font-family:'Open Sans', sans-serif;
          color: aliceblue;
          text-shadow: 2px 2px 8px black;

      }

      .capitanas-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4fr;
        gap: 40px;
        width: 50%;
        margin: 0 auto;
        
    
    }

    .texto1__main {
        margin: 2cm;
        font-family:'Open Sans', sans-serif;
        font-size: 30px;
        text-align: center;
        color: #def3f7;
        text-shadow: 4px 4px 4px  #1d8a92;
    }
 
    .contenido {
        padding: 16px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 4px rgb(0 0 0 / 20%);
        background-color: #bdecec;
        transform: translate(-400px);
        grid-column: 11;
        grid-row: 1;
        font-family:'Open Sans', sans-serif;
    
        
    }

    .contenido2 {
        padding: 16px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 4px rgb(0 0 0 / 20%);
        background-color: #bdecec;
        transform: translate(-400px);
        grid-column: 18;
        grid-row: 1;
        font-family:'Open Sans', sans-serif;
    
        
    }
    .contenido h3 {
        text-align: center;

    }

     
    .img {
        border-radius: 50%;
        box-shadow: 4px 4px 4px rgb(145, 142, 142);
     
    }

    /*galerias*/

    .imagen-contenedor {
        display: grid;
        margin-top: 10cm;
        grid-template-columns: repeat(4, 1fr);
        grid-column: 1/11;
        grid-auto-rows: auto;
        padding: 20px;
        grid-gap: 10px;
        width: 60%;
        transform: translate(250px, -350px);
        
    }
    
    
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 4px 4px 4px rgb(83, 83, 83);
        border-radius: 8px;
    }
    
    .gallery__item1 {
        grid-column-start: span 2;
    }
        
    .gallery__item9 {
        grid-column-start: span 2;
    }

    .galeria h1 {
    margin: 2cm;
    font-family:'Open Sans', sans-serif;
    font-size: 80px;
    text-align: center;
    color: #def3f7;
    text-shadow: 4px 4px 4px  #1d8a92;
}
/*cuerpo tecnico*/
.ct img {
    width: 200px;
}

.contenedorct {
    background-color: rgb(146, 144, 144);
    grid-column: 2/3;
    
}


/*formulario contacto*/

.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);


}
.formulario {
    width: 50rem;
    margin: 10rem auto;
    background-color: #1d8a92;
    padding: 1rem;
    border-radius: 2rem;
}

.formulario__fieldset {
    border: none; 
}
.formulario__legend {
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 2rem;
    color: #def3f7;
    margin-bottom: 2rem;
}

.formulario__label {
    color: #bdecec;
    margin-bottom: 5rem;
    font-size: 1.5rem;
    font-family:'Open Sans', sans-serif;
    display: block;
}
.formulario__textarea {
    width: 100%;
    border-radius: .5rem;
    border: none;
    margin-bottom: 1rem;
}
.formulario__input {
    margin-bottom: 1.1rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 1.5rem;
    border: none;
}

.formulario__select {
    border: none;
    border-radius: .5rem;
    width: 30%;
    font-size: 1rem;
    margin-bottom: 1rem;

}

.formulario__campo-boton {
    display: flex;
    justify-content: center;
}

.formulario__label--condiciones {
    color: #f3f3f3;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
  }
  .formulario__boton {
    cursor: pointer;
  }
    /*justify-content: stretch*/
    /*align-content: stretch definir espacio contenedor padre*/
    /*revisar align y justify para acomodar - revisar justify-self para 
    mover items dentro de un contenedor*/



/* para mover elementos: position: absolute/relativa -> top, left, right, bottom o 
transform: translate (100px, 100px) etc... 
Para rotar elementos, transform: rotate () */ 
/*transitions propiedad -> transition :hover 
transition: height 2s; propiedad y duracion.
elemento:hover height: 200px */ 